*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Philosopher', sans-serif;
}

main {
    background-color: #D9B29C;
    padding: 4.5em;
}

main .form-container{
    margin: auto;
    width: 400px;
    padding: 10px;
    border-radius: 50px;
    background-color: #8C5230;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .form-container h1{
    margin-top: 10px;
    color: white;
}

main .form-container form{
    margin-top: 10px;
    text-align: center;
}

main .form-container fieldset{
    color:white;
    border: none;
    margin: 2em;
}


main .form-container fieldset input{
    padding: 5px;
    width: 250px;
    border: none;
    background-color: #F2F2F2;
    border-radius: 30px;
}

main .form-container form button{
    margin: 9px;
    padding: 15px;
    width: 150px;
    font-size: 22px;
    letter-spacing: .5px;
    color: white;
    border-radius: 50px;
    border: none;
    background-color: #593723;
}

main .form-container form button:hover{
    background-color: #D98D62;
}

main .form-container form input:hover{
    background-color: white;
}