<%-include('./partials/head.ejs') %>
<body>
    <main>
    <%-include('./partials/header.ejs')  %>
    <img src="/images/background-image.jpg">
        <div class="text">
            <h1>Bienvenido a Rexeline</h2>
            <h2>Aquí podras disfrutar de las mejores comidas y bebidas ya sea con tu familia o con amigos</h2>
            <h2>¿Qué esperas a venir?, Reserva tu lugar ahora!</h2>
            <div class="reserve-now">
            <a href="/tableList" style="text-decoration: none;">Reservar ahora</a>
        </div>
        </div>
</main>
</body>
</html>