<header>
    <nav>
        <div>
            <a href="/login" class="login" style="text-decoration: none;">Ingresar</a>
            <a href="/register" class="register" style="text-decoration: none;">Registrar</a>
        </div>
        <div>
        <a href='/' class="logo" style="text-decoration: none;">Rexeline</a>
        </div>
        <a href="/tableList" class="reserve" style=" text-decoration: none;">Reserva tu mesa</a>
    </nav>
</header>