body{
  background-color: #D9B29C;
  color: white;
  font-size: 22px;
}

.home {
  text-align: center;
}

.table-container{
  margin: auto;
  display: flex;
  background-color: #F2F2F2;
  border: 1px solid black;
  width: 600px;
  justify-content: space-between;
}

.first-column{
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.first-column p {
  font-size: 18px;
  height: max-content;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  color: black;
}

.second-column{
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.second-column .caja {
  border: none;
  background-color: grey;
  width: 100px;
}

.second-column p {
  font-size: 18px;
  height: max-content;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  color: black;
}

.third-column{
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.third-column p {
  font-size: 18px;
  height: max-content;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  color: black;
}